.plugin {
  lost-column: 1/1 1 20px;
  lost-align: center;
  display: flex;
  flex-direction: column;
  height: 320px;
  text-align: center;
  background: ghostwhite;
  color: var(--darkColor);
  border-radius: 2.7px;
  margin-bottom: 20px;
  padding: 0 25px;
  border: solid 1px #e6e6e6;

  @media (--tablet) {
    lost-column: 1/2 2 20px;
  }

  @media (--desktop) {
    lost-column: 1/2 5 20px;
  }

  &-title {
    margin-bottom: 15px;

    h3 {
      margin: 0;

      a {
        font-size: responsive 20px 23px;
        color: #262626;
        text-decoration: none;
      }
    }
  }

  &-description {
    margin-bottom: 15px;

    p {
      margin: 0;
      font-size: responsive 13px 16px;
      color: #333;
    }
  }
  
  &-img {
    img {
      height: 40px;
      width: 40px;
    }
  }

  &-read {
    a {
      font-size: responsive 13px 16px;
      color: #262626;
    }
  }
}
