:root {
  --bgColor: white;
  --darkColor: #192c3d;
  --theme: #2868DE;
  --logoOuter: #a0740a;
  --logoTriangle: var(--logoOuter);
  --logoSquareInner: #886309;
  --logoSquareBorder: #b8850c;
  --logoCircle: #b8850c;
}
